<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
// Total: use CompareTo() instead of the relational operators, so that the ordering matches
// Comparer<T>.Default for IEEE-754 types (NaN and negative zero).
var allTypes = new (string Simple, string Name, bool Total)[]
{
    ("byte", "UInt8", false),
    ("sbyte", "Int8", false),
    ("ushort", "UInt16", false),
    ("short", "Int16", false),
    ("uint", "UInt32", false),
    ("int", "Int32", false),
    ("ulong", "UInt64", false),
    ("long", "Int64", false),
    ("UInt128", "UInt128", false),
    ("Int128", "Int128", false),
    ("float", "Single", true),
    ("double", "Double", true),
    ("DateTime", "DateTime", false),
};
#>
// Copyright (c) All contributors. All rights reserved. Licensed under the MIT license.

/* THIS (.cs) FILE IS GENERATED. DO NOT CHANGE IT.
 * CHANGE THE .tt FILE INSTEAD. */

using System;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

#pragma warning disable SA1649 // File name should match first type name

namespace Arc.Collections.HotMethod
{<# foreach(var t in allTypes) {  #>

    internal sealed class <#= t.Name #>Method : IHotMethod<<#= t.Simple #>>
    {
        public static readonly <#= t.Name #>Method Instance = new ();

        private <#= t.Name #>Method()
        {
        }

        public int LowerBound(ReadOnlySpan<<#= t.Simple #>> span, <#= t.Simple #> value)
        {
            ref <#= t.Simple #> r = ref MemoryMarshal.GetReference(span);
            nuint lo = 0;
            nuint count = (nuint)(uint)span.Length;
            while (count != 0)
            {
                nuint half = count >> 1;
                nuint mid = lo + half;
                if (<#= Cmp(t.Total, "Unsafe.Add(ref r, (nint)mid)", "<", "value") #>)
                {
                    lo = mid + 1;
                    count -= half + 1;
                }
                else
                {
                    count = half;
                }
            }

            return (int)lo;
        }

        public int UpperBoundExclusive(ReadOnlySpan<<#= t.Simple #>> span, <#= t.Simple #> value)
        {
            ref <#= t.Simple #> r = ref MemoryMarshal.GetReference(span);
            nuint lo = 0;
            nuint count = (nuint)(uint)span.Length;
            while (count != 0)
            {
                nuint half = count >> 1;
                nuint mid = lo + half;
                if (<#= Cmp(t.Total, "Unsafe.Add(ref r, (nint)mid)", "<=", "value") #>)
                {
                    lo = mid + 1;
                    count -= half + 1;
                }
                else
                {
                    count = half;
                }
            }

            return (int)lo;
        }
    }

    internal sealed class <#= t.Name #>Method2<TValue> : IHotMethod2<<#= t.Simple #>, TValue>
    {
        public (int Cmp, OrderedMap<<#= t.Simple #>, TValue>.Node? Leaf) SearchNode(OrderedMap<<#= t.Simple #>, TValue>.Node? target, <#= t.Simple #> key)
        {
            var x = target;
            var p = target;
            int cmp = 0;

            while (x != null)
            {
                p = x;
                if (<#= Cmp(t.Total, "key", "<", "x.Key") #>)
                {
                    x = x.Left;
                    cmp = -1;
                }
                else if (<#= Cmp(t.Total, "key", ">", "x.Key") #>)
                {
                    x = x.Right;
                    cmp = 1;
                }
                else
                {// Found
                    return (0, x);
                }
            }

            return (cmp, p);
        }

        public (int Cmp, OrderedMap<<#= t.Simple #>, TValue>.Node? Leaf) SearchNodeReverse(OrderedMap<<#= t.Simple #>, TValue>.Node? target, <#= t.Simple #> key)
        {
            var x = target;
            var p = target;
            int cmp = 0;

            while (x != null)
            {
                p = x;
                if (<#= Cmp(t.Total, "key", ">", "x.Key") #>)
                {
                    x = x.Left;
                    cmp = -1;
                }
                else if (<#= Cmp(t.Total, "key", "<", "x.Key") #>)
                {
                    x = x.Right;
                    cmp = 1;
                }
                else
                {// Found
                    return (0, x);
                }
            }

            return (cmp, p);
        }

        public (int Cmp, OrderedMultiMap<<#= t.Simple #>, TValue>.Node? Leaf) SearchNode(OrderedMultiMap<<#= t.Simple #>, TValue>.Node? target, <#= t.Simple #> key)
        {
            var x = target;
            var p = target;
            int cmp = 0;

            while (x != null)
            {
                p = x;
                if (<#= Cmp(t.Total, "key", "<", "x.Key") #>)
                {
                    x = x.Left;
                    cmp = -1;
                }
                else if (<#= Cmp(t.Total, "key", ">", "x.Key") #>)
                {
                    x = x.Right;
                    cmp = 1;
                }
                else
                {// Found
                    return (0, x);
                }
            }

            return (cmp, p);
        }

        public (int Cmp, OrderedMultiMap<<#= t.Simple #>, TValue>.Node? Leaf) SearchNodeReverse(OrderedMultiMap<<#= t.Simple #>, TValue>.Node? target, <#= t.Simple #> key)
        {
            var x = target;
            var p = target;
            int cmp = 0;

            while (x != null)
            {
                p = x;
                if (<#= Cmp(t.Total, "key", ">", "x.Key") #>)
                {
                    x = x.Left;
                    cmp = -1;
                }
                else if (<#= Cmp(t.Total, "key", "<", "x.Key") #>)
                {
                    x = x.Right;
                    cmp = 1;
                }
                else
                {// Found
                    return (0, x);
                }
            }

            return (cmp, p);
        }
    }
<# } #>
}
<#+
string Cmp(bool total, string left, string op, string right)
{
    return total
        ? left + ".CompareTo(" + right + ") " + op + " 0"
        : left + " " + op + " " + right;
}
#>
